<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.restaurant">
  <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />
  <application android:label="Restaurant">
    <provider android:name="android.support.v4.content.FileProvider" android:authorities="com.companyname.restaurant.fileprovider" android:exported="false" android:grantUriPermissions="true">
      <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"></meta-data>
    </provider>
    <receiver android:name="com.onesignal.GcmBroadcastReceiver"
          android:permission="com.google.android.c2dm.permission.SEND" >
      <intent-filter>
        <action android:name="com.google.android.c2dm.intent.RECEIVE" />
        <category android:name="com.companyname.restaurant" />
      </intent-filter>
    </receiver>
  </application>
  <permission android:name="com.companyname.restaurant.permission.C2D_MESSAGE"
            android:protectionLevel="signature" />
  <uses-permission android:name="com.companyname.restaurant.permission.C2D_MESSAGE" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.CAMERA"/>
</manifest>
